# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
	'ctrl-shift-f4': 'atom-shell-commands-config:stop'
	'ctrl-shift-f6': 'atom-shell-commands-config:error-first'
	'ctrl-shift-f7': 'atom-shell-commands-config:error-last'
	'ctrl-shift-]': 'atom-shell-commands-config:error-next'
	'ctrl-shift-[': 'atom-shell-commands-config:error-prev'